Repository instrumentisto/medea-jason, pull requests merged in 2022-10, with the labels that each got.

#86 Set `tonic_build::Builder::emit_rerun_if_changed(false)` to avoid rebuilding
  proto/control-api/build.rs
Labels: enhancement, k::toolchain

#87 Add iOS support
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  Makefile
  build.rs
  flutter/.editorconfig
  flutter/android/gradle.properties
  flutter/android/gradle/wrapper/gradle-wrapper.properties
  flutter/example/android/gradle.properties
  flutter/example/android/gradle/wrapper/gradle-wrapper.properties
  flutter/example/ios/.gitignore
  flutter/example/ios/Flutter/AppFrameworkInfo.plist
  flutter/example/ios/Flutter/Debug.xcconfig
  flutter/example/ios/Flutter/Release.xcconfig
  flutter/example/ios/Podfile
  flutter/example/ios/Podfile.lock
  flutter/example/ios/Runner.xcodeproj/project.pbxproj
  flutter/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  flutter/example/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  flutter/example/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  flutter/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  flutter/example/ios/Runner.xcworkspace/contents.xcworkspacedata
  flutter/example/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  flutter/example/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  flutter/example/ios/Runner/AppDelegate.swift
  flutter/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  flutter/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  flutter/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  flutter/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  flutter/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  flutter/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  flutter/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  flutter/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  flutter/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  flutter/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  flutter/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  flutter/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  flutter/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  flutter/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  flutter/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  flutter/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  flutter/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  flutter/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  flutter/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  flutter/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
  flutter/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  flutter/example/ios/Runner/Base.lproj/LaunchScreen.storyboard
  flutter/example/ios/Runner/Base.lproj/Main.storyboard
  flutter/example/ios/Runner/Info.plist
  flutter/example/ios/Runner/Runner-Bridging-Header.h
  flutter/example/pubspec.lock
  flutter/ios/.gitignore
  flutter/ios/.pubignore
  flutter/ios/Classes/MedeaJasonPlugin.h
  flutter/ios/Classes/MedeaJasonPlugin.m
  flutter/ios/Classes/SwiftMedeaJasonPlugin.swift
  flutter/ios/medea_jason.podspec
  flutter/lib/src/native/jason.dart
  flutter/pubspec.yaml
  src/platform/dart/mod.rs
Labels: enhancement, feature, k::api, k::toolchain, platform::ios

#71 E2e desktop test extension
  Cargo.lock
  Makefile
  e2e/tests/features/media_disable.feature
  e2e/tests/features/state_synchronization.feature
  e2e/tests/steps/media_state.rs
  flutter/example/pubspec.lock
  flutter/lib/src/native/platform/media_devices.dart
  flutter/lib/src/native/platform/transport.dart
  flutter/test/e2e/steps/media_state.dart
  flutter/test/e2e/steps/room.dart
  flutter/test/e2e/steps/track.dart
  flutter/test/e2e/steps/websockets.dart
  flutter/test/e2e/suite.dart
  flutter/test/e2e/world/custom_world.dart
  flutter/test/e2e/world/member.dart
  mock/control-api/src/callback/mod.rs
  tests/peer/mod.rs
Labels: enhancement, k::testing, platform::windows, platform::linux, platform::macos
