Repository instrumentisto/medea-jason, pull requests merged in 2023-03, with the labels that each got.

#106 Fix joining room freeze
  .github/workflows/ci.yml
  CHANGELOG.md
  Cargo.lock
  flutter/example/integration_test/jason.dart
  flutter/example/lib/call.dart
  flutter/example/pubspec.lock
  flutter/lib/medea_jason.dart
  flutter/lib/src/interface/device_video_track_constraints.dart
  flutter/lib/src/interface/enums.dart
  flutter/lib/src/interface/media_device_details.dart
  flutter/lib/src/interface/media_display_details.dart
  flutter/lib/src/interface/media_manager.dart
  flutter/lib/src/interface/media_track.dart
  flutter/lib/src/native/ffi/jason_api.g.dart
  flutter/lib/src/native/media_device_details.dart
  flutter/lib/src/native/media_display_details.dart
  flutter/lib/src/native/media_manager.dart
  flutter/lib/src/native/native_enums.dart
  flutter/lib/src/web/jason_wasm.dart
  flutter/lib/src/web/media_device_details.dart
  flutter/lib/src/web/media_manager.dart
  flutter/lib/src/web/web_enums.dart
  flutter/pubspec.yaml
  src/api/dart/api.rs
  src/api/dart/api_bridge_generated.io.rs
  src/api/dart/api_bridge_generated.rs
  src/api/wasm/media_device_details.rs
  src/api/wasm/media_manager_handle.rs
  src/api/wasm/mod.rs
  src/jason.rs
  src/media/manager.rs
  src/rpc/rpc_session.rs
  src/rpc/websocket/client.rs
Labels: enhancement, k::api, k::refactor, platform::android, platform::ios, platform::web, platform::windows, platform::linux, platform::macos

#110 Fix `MediaStreamSettings` always having audio enabled
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  Makefile
  flutter/example/lib/control_api/entities/room.dart
  flutter/example/pubspec.lock
  flutter/lib/src/native/ffi/jason_api.g.dart
  flutter/lib/src/native/media_stream_settings.dart
  flutter/pubspec.yaml
  src/peer/stream_update_criteria.rs
  src/platform/transceiver.rs
Labels: enhancement, k::api, k::toolchain

#112 Fix incorrect error handling in `medea-e2e` (#111)
  e2e/src/browser/client.rs
Labels: enhancement, k::testing, platform::web

#107 Extend protocol for tracks in `SFU` mode
  .github/workflows/ci.yml
  Cargo.lock
  demo/index.html
  e2e-demo/js/index.js
  flutter/example/lib/call.dart
  flutter/example/lib/call_route.dart
  proto/client-api/CHANGELOG.md
  proto/client-api/src/lib.rs
  src/connection.rs
  src/peer/component/mod.rs
  src/peer/component/watchers.rs
  src/peer/media/mod.rs
  src/peer/media/receiver/component.rs
  src/peer/media/sender/component.rs
  src/room.rs
  tests/media/mod.rs
  tests/peer/media/mod.rs
  tests/peer/mod.rs
  tests/room/room.rs
  tests/web.rs
Labels: enhancement, k::api, k::design
