Repository instrumentisto/medea-jason, pull requests merged in 2024-05, with the labels that each got.

#165 Implement Dart platform layer for SVC
  .clippy.toml
  flutter/example/integration_test/jason.dart
  flutter/example/pubspec.lock
  flutter/example/pubspec.yaml
  flutter/lib/src/native/ffi/jason_api.g.dart
  flutter/lib/src/native/ffi/list.dart
  flutter/lib/src/native/ffi/list.g.dart
  flutter/lib/src/native/platform/codec_capability.dart
  flutter/lib/src/native/platform/codec_capability.g.dart
  flutter/lib/src/native/platform/functions_registerer.dart
  flutter/lib/src/native/platform/parameters.dart
  flutter/lib/src/native/platform/parameters.g.dart
  flutter/lib/src/native/platform/peer_connection.dart
  flutter/lib/src/native/platform/peer_connection.g.dart
  flutter/lib/src/native/platform/send_encoding_parameters.dart
  flutter/lib/src/native/platform/send_encoding_parameters.g.dart
  flutter/lib/src/native/platform/transceiver.dart
  flutter/lib/src/native/platform/transceiver.g.dart
  flutter/pubspec.yaml
  src/peer/media/mod.rs
  src/platform/codec_capability.rs
  src/platform/dart/codec_capability.rs
  src/platform/dart/mod.rs
  src/platform/dart/parameters.rs
  src/platform/dart/peer_connection.rs
  src/platform/dart/send_encoding_parameters.rs
  src/platform/dart/transceiver.rs
  src/platform/dart/utils/list.rs
  src/platform/mod.rs
  src/platform/wasm/mod.rs
  src/platform/wasm/peer_connection.rs
  src/platform/wasm/transceiver.rs
  tests/room/room.rs
Labels: feature, k::api, k::design, platform::android, platform::ios, platform::windows, platform::linux, platform::macos

#169 Fix Flutter upgrade to v3.22
  .github/workflows/ci.yml
  flutter/example/pubspec.lock
  flutter/lib/src/native/ffi/completer.dart
  flutter/lib/src/native/ffi/function.dart
  flutter/lib/src/native/ffi/future.dart
  flutter/lib/src/native/ffi/jason_api.g.freezed.dart
  flutter/lib/src/native/ffi/list.dart
  flutter/lib/src/native/ffi/map.dart
  flutter/lib/src/native/platform/codec_capability.dart
  flutter/lib/src/native/platform/constraints.dart
  flutter/lib/src/native/platform/ice_candidate.dart
  flutter/lib/src/native/platform/ice_candidate_error.dart
  flutter/lib/src/native/platform/ice_servers.dart
  flutter/lib/src/native/platform/media_device_info.dart
  flutter/lib/src/native/platform/media_devices.dart
  flutter/lib/src/native/platform/media_display_info.dart
  flutter/lib/src/native/platform/media_track.dart
  flutter/lib/src/native/platform/parameters.dart
  flutter/lib/src/native/platform/peer_connection.dart
  flutter/lib/src/native/platform/send_encoding_parameters.dart
  flutter/lib/src/native/platform/transceiver.dart
  flutter/lib/src/native/platform/transport.dart
  flutter/pubspec.yaml
Labels: enhancement, k::refactor, k::dependencies

#170 Implement WASM platform layer for SVC
  .cargo/config.toml
  .dockerignore
  .github/workflows/ci.yml
  Cargo.toml
  proto/client-api/src/lib.rs
  proto/control-api/Cargo.toml
  src/peer/mod.rs
  src/platform/codec_capability.rs
  src/platform/dart/codec_capability.rs
  src/platform/dart/ice_server.rs
  src/platform/dart/peer_connection.rs
  src/platform/peer_connection.rs
  src/platform/wasm/codec_capability.rs
  src/platform/wasm/ice_server.rs
  src/platform/wasm/mod.rs
  src/platform/wasm/peer_connection.rs
  src/platform/wasm/send_encoding_parameters.rs
  src/platform/wasm/transceiver.rs
Labels: feature, k::api, k::design, platform::web

#171 Implement SVC configuration
  e2e-demo/js/index.js
  e2e-demo/video-call.html
  proto/client-api/src/lib.rs
  src/media/mod.rs
  src/peer/media/mod.rs
  src/peer/media/receiver/mod.rs
  src/peer/media/sender/mod.rs
  tests/peer/media/mod.rs
Labels: enhancement, feature, k::api, k::design, k::ui/ux

#172 Extend `RtcIceCandidatePairStats` with id fields
  CHANGELOG.md
  proto/client-api/src/stats.rs
Labels: enhancement, k::api, k::monitoring

#166 Add `autoGainControl` constraint support
  CHANGELOG.md
  Cargo.toml
  e2e-demo/js/index.js
  e2e-demo/video-call.html
  flutter/example/integration_test/jason.dart
  flutter/example/macos/Podfile.lock
  flutter/example/macos/Runner.xcodeproj/project.pbxproj
  flutter/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  flutter/example/pubspec.lock
  flutter/example/pubspec.yaml
  flutter/lib/src/interface/audio_track_constraints.dart
  flutter/lib/src/native/audio_track_constraints.dart
  flutter/lib/src/native/ffi/jason_api.g.dart
  flutter/lib/src/native/ffi/jason_api.g.freezed.dart
  flutter/lib/src/native/platform/constraints.dart
  flutter/lib/src/web/audio_track_constraints.dart
  flutter/lib/src/web/jason_wasm.dart
  flutter/pubspec.yaml
  src/api/dart/api.rs
  src/api/dart/api_bridge_generated.rs
  src/api/wasm/media_stream_settings.rs
  src/media/constraints.rs
  src/platform/dart/constraints.rs
  src/platform/wasm/constraints.rs
Labels: enhancement, feature, k::api

#167 Add `LocalMediaTrack.on_audio_level_changed()` callback
  CHANGELOG.md
  flutter/example/lib/call.dart
  flutter/example/lib/call_route.dart
  flutter/lib/src/interface/media_track.dart
  flutter/lib/src/native/ffi/function.dart
  flutter/lib/src/native/ffi/jason_api.g.dart
  flutter/lib/src/native/local_media_track.dart
  flutter/lib/src/native/platform/media_track.dart
  flutter/lib/src/native/platform/media_track.g.dart
  flutter/lib/src/web/local_media_track.dart
  src/api/dart/api.rs
  src/api/dart/api_bridge_generated.rs
  src/media/track/local.rs
  src/platform/dart/media_track.rs
  src/platform/wasm/media_track.rs
Labels: feature, k::api
